@model Camping2000.Models.ModifyBookingViewModel

<h2>Success!!</h2>


@if (@Model != null)
{
<div class="row">
    <div class="col-md-4">
        The change succeded. See below for details:
    </div>
    <div class="col-md-2">
        @Html.Label("New Spot:");
    </div>
    <div class="col-md-2">
        @Model.ItemName
    </div>
    <div class="col-md-4">
        
    </div>
</div>
   
}
else
{
    <div class="row">
        <p>Something happend. Please check the booking again and try again if nessesary.</p>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-2">
        @using (Ajax.BeginForm("GoToStart", "Home",
                   ajaxOptions: new AjaxOptions
                   {
                       UpdateTargetId = "ContentBody",
                       InsertionMode = InsertionMode.Replace,
                   }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Done" />
        }
    </div>
    <div class="col-md-2">
        @using (Ajax.BeginForm("ModifyBooking", "Home",
                   ajaxOptions: new AjaxOptions
                   {
                       UpdateTargetId = "ContentBody",
                       InsertionMode = InsertionMode.Replace,
                   }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Return to Bookings" />
        }
    </div>
    <div class="col-md-8"></div>
</div>
