

<h2> Check Out Confirmation</h2>

<p>The guest have now been checked Out.</p>
<p>The guest have to be charged: 650 kr.</p>
<p>Wish the guest a good travel home and welcome again. </p>

@Ajax.ActionLink("Back to Start", "GoToStart", ajaxOptions: new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentBody" })