
<h2>Please confirm your reservation.</h2>
<hr />
<p>You arrive on:2018-07-10</p>

<p>You depart on:2018-07-17</p>

<p>You are 6 people.</p>

<p>You do not need electricity.</p>

<p>Your estimated price is: 480 kr.</p>
@if (Request.IsAuthenticated)
{
    @Ajax.ActionLink("Make Adjustments", "SpaceForTent", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace
            })
    @Ajax.ActionLink("Accept reservation", "ConfirmSpaceForTent", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace
            })
}
else
{
    <div>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}
@*<div class="form-group">
        <input type="submit" value="Confirm Reservation" class="btn btn-default" />
    </div>
    <div class="form-group">
        <input type="submit" value="Cancel Reservation" class="btn btn-default" />
    </div>*@