
<h2>Modification of rights.</h2>

<hr />

<p>
    @ViewBag.RightsMessage
</p>
<div class="row">
    <div class="col-md-2">
        @using (Ajax.BeginForm("GoToStart", "Home", new AjaxOptions
        {
            UpdateTargetId = "ContentBody",
            InsertionMode = InsertionMode.Replace,
        }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Done" />
        }
    </div>
    <div class="col-md-2">
        @using (Ajax.BeginForm("ManageReceptionists", "Home", new AjaxOptions
        {
            UpdateTargetId = "ContentBody",
            InsertionMode = InsertionMode.Replace,
        }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Back to Receptionist" />
        }
    </div>
</div>