
<h2>Confirm your reservation.</h2>

<p>You arrive on:2018-07-10</p>

<p>You depart on:2018-07-17</p>

<p>You are 6 people.</p>

<p>You do not need electricity.</p>

<p>Your estimated price is: 480 kr.</p>
<div class="form-group">
    <input type="submit" value="Confirm Reservation" class="btn btn-default" />
</div>
<div class="form-group">
    <input type="submit" value="Cancel Reservation" class="btn btn-default" />
</div>