
<h2>Modify a Guests Details</h2>

<div class="row">
    <div class="col-md-2">
        Present FirstName:
    </div>
    <div class="col-md-2">
        GuestFirstName
    </div>
    <div class="col-md-2">
        Change to new Firstname:
    </div>
    <div class="col-md-2">
        @Html.Editor("UserFirstName")
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Present LastName:
    </div>
    <div class="col-md-2">
        GuestLastName
    </div>
    <div class="col-md-2">
        Change to new Lastname:
    </div>
    <div class="col-md-2">
        @Html.Editor("UserLastName")
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Present Nationality:
    </div>
    <div class="col-md-2">
        Guest Nationality
    </div>
    <div class="col-md-2">
        Change to new Nationality:
    </div>
    <div class="col-md-2">
        @Html.Editor("UserNationality")
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Present Emailadress:
    </div>
    <div class="col-md-2">
        Guest@mail.com
    </div>
    <div class="col-md-2">
        Change to new Emailadress:
    </div>
    <div class="col-md-2">
        @Html.Editor("UserMailadress")
    </div>
    <div class="col-md-4">

    </div>
</div>
@*
    <div class="col-md-2">
        Present LastName:
    </div>
    <div class="col-md-2">
        GuestLastName
    </div>

    <div class="col-md-2">
        Present LastName:
    </div>
    <div class="col-md-2">
        GuestLastName
    </div>
    <div class="col-md-2">

    </div>*@
