
<h2>Managing Receptionists.</h2>
<hr />
<p>To assign receptionist rights, the new receptionist have to create an account as a guest.</p>
<p>When the account is created the admin can search for the receptionist by name and then assign the rights.</p>
<hr />
@using (Ajax.BeginForm("ListReceptionists", "Home", new AjaxOptions
{
    UpdateTargetId = "ContentBody",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="submit" value="Current Receptionists" />
}
<hr />
@Html.Partial("_SearchReceptionist")

<div id="EndOfFoundCoworkers"></div>