
<h2>Which guest have outdated info:</h2>



@Html.Partial("_searchbar")



    <div id="EndOfFoundGuests"></div>

@*<div class="col-md-4">
        @Ajax.ActionLink("Search", "SearchForGuest", ajaxOptions: new AjaxOptions { UpdateTargetId = "EndOfFoundGuests", InsertionMode = InsertionMode.InsertBefore })
    </div>*@