
<h2>Which guest have outdated info:</h2>

@using (Ajax.BeginForm("SearchForGuest", "Home",
        ajaxOptions: new AjaxOptions
        {
            UpdateTargetId = "EndOfFoundGuests",
            InsertionMode = InsertionMode.InsertBefore,
        }))
{
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Guests first name:")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="firstName" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Guests last name:")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="lastName" />
            </div>
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>

    </div>
    @*<div class="col-md-4">
            @Ajax.ActionLink("Search", "SearchForGuest", ajaxOptions: new AjaxOptions { UpdateTargetId = "EndOfFoundGuests", InsertionMode = InsertionMode.InsertBefore })
        </div>*@
    <div id="EndOfFoundGuests"></div>
}

