
<h2>No vacant space is available for you!</h2>

<div>We are sorry to inform you that we do not have any vacant space for you during the timeinterval you have specified.</div>
<div>Please try other dates for arrival and/or departures.</div>
