

<div class="row">
    <div class="col-md-3">
        GuestFirstname
    </div>
    <div class="col-md-3">
        GuestLastname
    </div>
    <div class="col-md-6">
        @Ajax.ActionLink("Modify Booking Details", "ModifySpecificBooking", ajaxOptions: new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentBody" })
    </div>
    

</div>
