@using (Ajax.BeginForm("SearchForGuest", "Home",
        ajaxOptions: new AjaxOptions
        {
            UpdateTargetId = "EndOfFoundGuests",
            InsertionMode = InsertionMode.InsertBefore,
        }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Guests first name:")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="firstName" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Guests last name:")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="lastName" />
            </div>
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}


