@using (Ajax.BeginForm("SearchNewReceptionist", "Home", new AjaxOptions
{
    UpdateTargetId = "EndOfFoundCoworkers",
    InsertionMode = InsertionMode.InsertBefore,
}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("First name:")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="firstName" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Last name:")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="lastName" />
            </div>
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

