<div>
    <div class="row">
        <div class="col-md-3">
            GuestFirstname
        </div>
        <div class="col-md-3">
            GuestLastname
        </div>
        <div class="col-md-3">
            Guest BookingId
        </div>
        <div class="col-md-3">
            @Ajax.ActionLink("Check Out", "CheckOutConfirmation", ajaxOptions: new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentBody" })
        </div>
        
    </div>
</div>
