<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/28e619d4-1a06-4c0b-8b47-4b58689f5348/resourcegroups/Camping2000/providers/Microsoft.Web/sites/Camping200020180827091651</ResourceId>
    <ResourceGroup>Camping2000</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://camping2000.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>camping200020180827091651.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Camping2000</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Camping200020180827091651</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Camping2000Db" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Camping2000.Models.Camping2000Db, Camping2000" MigrationConfiguration="Camping2000.Migrations.Camping2000Db.Configuration, Camping2000" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Camping2000.Models.ApplicationDbContext, Camping2000" MigrationConfiguration="Camping2000.Migrations.ApplicationDbContext.Configuration, Camping2000" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Camping2000AppUsers" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000AppUsers;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000AppUsers;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000AppUsers;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Camping2000AppUsers_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000AppUsers;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Camping2000AppUsers-Web.config Connection String">
      <ParameterValue>Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000AppUsers;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Camping2000Db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:camping200020180827091651dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aMenharajdo100};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>