<connectionStrings>
<clear/>
<add name="Camping2000Db" connectionString="Server=tcp:camping2000dbserver.database.windows.net,1433;Initial Catalog=Camping2000Db;Persist Security Info=False;User ID={clcadmin};Password={aHikikote100};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>

